@charset "UTF-8";

aside {
    padding: 2rem;
    padding-block: 0.75rem;
    background-color: #224090;
    border-radius: 12px;
    margin: 1rem;
    max-width: 560px;
    min-width: 144px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

aside a {
    text-decoration: none;
    color: white;
}

footer {
    padding: 1.25rem;
    margin: auto;
    display: flex;
    max-width: 980px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 475px) {
    footer {
        font-size: large;
    }
}